Final/node-red-flow/flows.json
[
    {
        "id": "bbd7d3b99025a01d",
        "type": "tab",
        "label": "HandsOn_Final",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1c91af79a64100c9",
        "type": "aedes broker",
        "z": "bbd7d3b99025a01d",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": null,
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 150,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4de3a3dda750abe2",
        "type": "mqtt in",
        "z": "bbd7d3b99025a01d",
        "name": "",
        "topic": "sample/imu",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8543e7f2b3660acb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "5b639234a1ada121",
                "8f3af5914f6231aa",
                "96bf21ccee9649a2",
                "c9577e01edd2c2fa",
                "ccebf76330f40977",
                "1d6a0575801f8d8d",
                "a0c7ff94747fc07c"
            ]
        ]
    },
    {
        "id": "5b639234a1ada121",
        "type": "debug",
        "z": "bbd7d3b99025a01d",
        "name": "debug 39",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 520,
        "wires": []
    },
    {
        "id": "8f3af5914f6231aa",
        "type": "change",
        "z": "bbd7d3b99025a01d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.accel.x",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "x",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 160,
        "wires": [
            [
                "9f19185136be115e"
            ]
        ]
    },
    {
        "id": "96bf21ccee9649a2",
        "type": "change",
        "z": "bbd7d3b99025a01d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.accel.y",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "y",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 220,
        "wires": [
            [
                "9f19185136be115e"
            ]
        ]
    },
    {
        "id": "c9577e01edd2c2fa",
        "type": "change",
        "z": "bbd7d3b99025a01d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.accel.z",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "z",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 280,
        "wires": [
            [
                "9f19185136be115e"
            ]
        ]
    },
    {
        "id": "ccebf76330f40977",
        "type": "change",
        "z": "bbd7d3b99025a01d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gyro.x",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "x",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 340,
        "wires": [
            [
                "42efa147c46ca063"
            ]
        ]
    },
    {
        "id": "1d6a0575801f8d8d",
        "type": "change",
        "z": "bbd7d3b99025a01d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gyro.y",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "y",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 400,
        "wires": [
            [
                "42efa147c46ca063"
            ]
        ]
    },
    {
        "id": "a0c7ff94747fc07c",
        "type": "change",
        "z": "bbd7d3b99025a01d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gyro.z",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "z",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 460,
        "wires": [
            [
                "42efa147c46ca063"
            ]
        ]
    },
    {
        "id": "9f19185136be115e",
        "type": "ui_chart",
        "z": "bbd7d3b99025a01d",
        "name": "",
        "group": "394536829722d9d1",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "accel",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "42efa147c46ca063",
        "type": "ui_chart",
        "z": "bbd7d3b99025a01d",
        "name": "",
        "group": "d8a677a2db766945",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "gyro",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "8543e7f2b3660acb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.3.4",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "394536829722d9d1",
        "type": "ui_group",
        "name": "Accel",
        "tab": "5cdba439e60b7566",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d8a677a2db766945",
        "type": "ui_group",
        "name": "Gyro",
        "tab": "5cdba439e60b7566",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5cdba439e60b7566",
        "type": "ui_tab",
        "name": "HandsOn",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]